@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font: {
        family: 'Poppins', sans-serif;
    }

    
}
$--clr: #222327;


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $--clr;
}
.navigation {
    position: fixed;
    bottom: 5px;
    width: 800px;
    height: 140px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    ul {
        display: flex;
        width: 700px;
        li {
            position: relative;
            list-style: none;
            width: 140px;
            height: 140px;
            z-index: 1;
            a{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;
                .icon {
                    position: relative;
                    display: block;
                    line-height: 140px;
                    font-size: 2.5em;
                    text-align: center;
                    transition: 0.5s;
                    color: $--clr;
                }
                .text {
                    position: absolute;
                    color: $--clr;
                    font-weight: 400;
                    font-size: 1.5em;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                    opacity: 0;
                    transform: translateY(30px);
                }
            }
        }
        // .indicator {
        //     position: absolute;
        //     top: -50%;
        //     width: 140px;
        //     height: 140px;
        //     background: #29fd53;
        //     border-radius: 50%;
        //     border: 10px solid $--clr;
        //     transition: 0.5s;
        //     &:before {
        //         content: '';
        //         position: absolute;
        //         top: 50%;
        //         left: -36px;
        //         width: 30px;
        //         height: 30px;
        //         background: #fff;
        //         border-top-right-radius: 30px;
        //         box-shadow: 0px -14px 0 0 $--clr;
        //     }
        //     &:after {
        //         content: '';
        //         position: absolute;
        //         top: 50%;
        //         right: -36px;
        //         width: 30px;
        //         height: 30px;
        //         background: #fff;
        //         border-top-left-radius: 30px;
        //         box-shadow: 0px -14px 0 0 $--clr;
        //     }
        // }
    }
}
.navigation ul li:hover a .icon {
    transform: translateY(-20px);
}
.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(15px);
}


// .navigation ul li:nth-child(1).active ~ .indicator {
//     transform: translateX(calc(140px * 0));
//     }

// .navigation ul li:nth-child(2).active ~ .indicator {
//         transform: translateX(calc(140px * 1));
//     }
    
// .navigation ul li:nth-child(3).active ~ .indicator {
//         transform: translateX(calc(140px * 2));
//     }
